<div class="menu">
  <a href="/quotas">Test Quotas</a>
  <a href="/admin-login">Admin Login</a>
  <a href="/last-weeks-scores">Last Week's Scores</a>
  <a href="/next-weeks-matches">Next Week's Matches</a>
  <a href="/view-player-quotas">View Quotas</a>
  <a href="/leaderboard">Leaderboard</a>
  <a href="/input-scores">Input Scores</a>
</div>
