
    <div class="menu">
      <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #00240a;">
         <img class="navbar-brand" src="/images/LOGO.jpg" width="175"></img>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Schedule</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/leaderboard">Leaderboard</a>
          </li>
          <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Contact
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #00240a;">
          <a class="dropdown-item" href="#" style="background-color: #00240a; color: white;">Email</a>
        </div>
      </li>
        </ul>
        <span class="nav-item">
          <a class="btn btn-secondary" href="/admin-login" role="button" style="background-color: #63b000;">Admin Portal &raquo;</a>
        </span>
      </div>
    </nav>
  </header>
</div>

<!-- old code for menu -->

<!-- <div class="menu">
  <a href="/quotas">Test Quotas</a>
  <a href="/admin-login">Admin Dashboard</a>
  <a href="/last-weeks-scores">Last Week's Scores</a>
  <a href="/next-weeks-matches">Next Week's Matches</a>
  <a href="/view-player-quotas">View Quotas</a>
  <a href="/leaderboard">Leaderboard</a>
  <a href="/input-scores">Input Scores</a>
  <a href="/team-sign-in">Team Sign In</a>
</div> -->
