<div class="menu">
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #00240a;">
      <img class="navbar-brand" src="/images/LOGO.jpg" width="175"></img>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/full-schedule">Schedule</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/leaderboard">Leaderboard</a>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #00240a;">
            <a class="dropdown-item" href="mailto:hbgolfadmin@hbgolfleague.com" style="background-color: #00240a; color: white;"><img src="/images/emailicon.png" class="mb-1" height="15"/> Email Us</a>
          </div>
          </li>
        </ul>
        <span class="nav-item">
          <a class="btn btn-link" href="/admin-login" role="button" style="background-color: #63b000; color: white;">Admin Dashboard &raquo;</a>
        </span>
      </div>
    </nav>
  </header>
</div>
