<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
      {{> menu}}
      <div>
        <h2>Add a New Team</h2>
        <form action="/add-teams" method="POST">
          <div>
          <input type="text" name="teamNumber" placeholder="Enter Team Number" />
          <input type="text" name="playerOne" placeholder="Enter First Player's Name" />
          <input type="text" name="playerTwo" placeholder="Enter Second Player's Name" />
          <input type="password" name="password" placeholder="Enter Team Login Password" />
          </div>
          <button type="submit">Save</button>
        </form>

        {{message1}}
        {{message2}}

      </div>
    </div>
  </body>
</html>
