<html>
<head>
  <!-- Required meta tags -->
  {{> meta}}
  <link rel="stylesheet" href="/styles/add-team.css">
  <title>Add Teams</title>
</head>
  <body>
    <!-- navbar partial -->
    {{> menu}}
    <div class="addCard">
      <div id="cardSize" class="card text-center">
        <div class="card-body">
          <h2 class="card-title">Add New Players and Teams</h2>
          <div class="card-text">
            <div><hr><br>
              <h4>Select Players</h4>
              {{#memberOne}}
              <form class="form" action="/search-player-two" method="POST">
                <div class="form-group">
                  <p>Search for Player Two:</p>
                  <input type="text" name="playerName" class="form-control" placeholder="Enter Player Name" />
                </div>
                <input type="hidden" name="playerOne" value="{{player_one}}" />
                <button type="submit" class="btn btn-link">Search &raquo;</button>
              </form>
              <form class="form" action="/select-player-two" method="POST">
                <div class="form-group">
                  {{#players}}
                  <p><input type="radio" name="player" value="{{name}}" /> {{name}}</p>
                  {{/players}}
                </div>
                <input type="hidden" name="playerOne" value="{{player_one}}" />
                {{#select}}
                <button type="submit" class="btn btn-link">{{select}} Player &raquo;</button>
                {{/select}}
                {{^select}}
                {{/select}}
              </form>
              {{/memberOne}}
              {{^memberOne}}
              <form class="form" action="/search-player-one" method="POST">
                <div class="form-group">
                  <p>Search for Player One:</p>
                  <input type="text" name="playerName" class="form-control" placeholder="Enter Player Name" />
                </div>
                <button type="submit" class="btn btn-link">Search &raquo;</button>
              </form>
              <form class="form" action="/select-player-one" method="POST">
                <div class="form-group">
                  {{#players}}
                  <p><input type="radio" name="player" value="{{name}}" /> {{name}}</p>
                  {{/players}}
                </div>
                {{#select}}
                <button type="submit" class="btn btn-link">{{select}} Player &raquo;</button>
                {{/select}}
                {{^select}}
                {{/select}}
              </form>
              {{/memberOne}}
            </div>
            <div><hr><br>
              <h4>Add a New Player</h4>
              <form class="form" action="/add-new-player" method="POST">
                <div class="form-group">
                  <p>New Player Name:</p>
                  <input type="text" name="newPlayer" class="form-control" placeholder="Enter Player Name" />
                </div>
                <button type="submit" class="btn btn-link">Save Player &raquo;</button>
              </form>
              <p>{{message3}}<p>
            </div>
            <div><br><hr><br>
              <h4>Add a New Team</h4>
              <form class="form" action="/add-teams" method="POST">
                <div class="form-group">
                  <p>Player One:</p>
                  <input type="text" name="playerOne" class="form-control" value="{{player_one}}" readonly />
                </div>
                <div class="form-group">
                  <p>Player Two:</p>
                  <input type="text" name="playerTwo" class="form-control" value="{{player_two}}" readonly />
                </div>
                <div class="form-group">
                  <p>Team Number:</p>
                  <input type="text" name="teamNumber" class="form-control" placeholder="Enter Team Number" />
                </div>
                <div class="form-group">
                  <p>Password:</p>
                  <input type="password" name="password" class="form-control" placeholder="Create Team Password" />
                </div>
                <button type="submit" class="btn btn-link">Save Team &raquo;</button>
              </form>
              <p>{{message1}}</p>
              <p>{{message2}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> script}}
  </body>
</html>
