<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Team Management</title>
  </head>
  <body>
    <div>
      {{> menu}}

      <div>
        <h2>Select Players</h2>
        {{#memberOne}}
        <div>
        <form action="/search-player-two" method="POST">
          <div>
          <p>Search for Player Two: <input type="text" name="playerName" placeholder="Enter Player Name" /></p>
          </div>
          <input type="hidden" name="playerOne" value="{{player1}}" />
          <button type="submit">Search</button>
          </form>
        </div>
        <div>
          <form action="/select-player-two" method="POST">
          {{#players}}
          <p><input type="radio" name="player" value="{{name}}" />{{name}}</p>
          {{/players}}
          <input type="hidden" name="playerOne" value="{{player1}}" />
          {{#select}}
          <button type="submit">{{select}} Player</button>
          {{/select}}
          {{^select}}
          {{/select}}
          </form>
        </div>
        {{/memberOne}}
        {{^memberOne}}

        <div>
          <form action="/search-player-one" method="POST">
          <div>
          <p>Search for Player One: <input type="text" name="playerName" placeholder="Enter Player Name" /></p>
          </div>
          <button type="submit">Search</button>
          </form>
        </div>
        <div>
          <form action="/select-player-one" method="POST">
          {{#players}}
          <p><input type="radio" name="player" value="{{name}}" />{{name}}</p>
          {{/players}}
          {{#select}}
          <button type="submit">{{select}} Player</button>
          {{/select}}
          {{^select}}
          {{/select}}
          </form>
        </div>
        {{/memberOne}}

        <h2>Add a New Player</h2>
        <form action="/add-new-player" method="POST">
          <div>
            <p>New Player Name: <input type="text" name="newPlayer" placeholder="Enter Player Name" /></p>
          </div>
          <button type="submit">Save Player</button>
        </form>
        {{message3}}

        <h2>Add a New Team</h2>
        <form action="/add-teams" method="POST">
          <div>
          <p>Player One: <input type="text" name="playerOne" value="{{player1}}" readonly /></p>
          <p>Player Two: <input type="text" name="playerTwo" value="{{player2}}" readonly /></p>
          <p>Team Number: <input type="text" name="teamNumber" placeholder="Enter Team Number" /></p>
          <p>Password: <input type="password" name="password" placeholder="Create Team Password" /></p>
          </div>
          <button type="submit">Save Team</button>
        </form>

        {{message1}}
        {{message2}}
      </div>
    </div>
  </body>
</html>
