<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="#"/>
    <title>Admin Register</title>
  </head>
  <body>
    <div>
      {{> menu}}
      <div>
        <h2>Register a New Admin</h2>
        <h3>{{message}}</h3>
        <form action="/admin/register" method="POST">
          <div>
            <input type="text" name="name" placeholder="Steve Cattanach"/>
            <input type="text" name="username" placeholder="username"/>
            <input type="password" name="password" placeholder="password"/>
          </div>
          <button type="submit">Register</button>
        </form>
      </div>
    </div>
  </body>
</html>
