<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
      {{> menu}}
      <div>
        <h2>Add a New Team</h2>
        <form action="/admin/archive-teams" method="POST">

          <h3>Archive current season? If not use links above to go back.</h3>
          <button type="submit">Archive</button>
        </form>
        <form action="/admin/undo-archive" method="POST">
          <button type="submit">Undo</button>
        </form>
      </div>
    </div>
  </body>
</html>
