<html>
<head>
  <!-- Required meta tags -->
  {{> meta}}
  <link rel="stylesheet" href="/styles/admin-dash.css">
  <title>Admin Dashboard</title>
</head>
  <body>
    <!-- navbar partial -->
    {{> menu}}
    <div class="dashCard">
      <div id="cardSize" class="card text-center">
        <div class="card-body">
          <h2 class="card-title">Admin Dashboard</h2>
            <div class="card-text">
              <div class="list-group">
                <a href="/admin/register" class="list-group-item list-group-item-action">Register a New Admin</a>
                <a href="/admin/add-teams" class="list-group-item list-group-item-action">Add New Players and Teams</a>
                <a href="/admin/manage-teams" class="list-group-item list-group-item-action">Manage Existing Teams</a>
                <a href="/admin/archive-teams" class="list-group-item list-group-item-action">Archive Season</a><br>
                <form action="/admin/signout" method="POST"><button id="button" type=submit class="btn btn-link">Sign Out &raquo;</button></form>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{> script}}
  </body>
</html>
