<!DOCTYPE html>
  {{> meta}}
  </head>
  <body>
  <div>
    {{> menu}}
      <div>
        <h2>Admin Dashboard</h2>
      </div>
        <div>
          <h3>{{message}}</h3>
          <ul>
            <li><a href="/admin/register">Register a New Admin</a></li>
            <li><a href="/admin/add-teams">Add a New Team</a></li>
            <li><a href="/admin/manage-teams">Manage Existing Teams</a></li>
            <li><a href="#">Change Scores</a></li>
            <li><a href="/admin/archive-teams">Archive Season</a></li>
            <li><form action="/admin/signout" method="POST"><button type=submit>Sign Out</button></form></li>
          </ul>
    </div>
  </div>
  </body>
  {{> script}}
</html>
