<!DOCTYPE html>
  {{> meta}}
    <title>Admin Login</title>
  </head>
  <body>
    <div>
      {{> menu}}
      <div>
        <h2>Admin Login</h2>
        <form action="/admin-login" method="POST">
          <div>
            <input type="text" name="username" placeholder="username"/>
            <input type="password" name="password" placeholder="password"/>
          </div>
          <button type="submit">Login</button>
        </form>
      </div>
    </div>
  </body>
  {{> script}}
</html>
