
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Schedule</title>
  </head>
  <body>
    <div>
      <form action="/generate-schedule" method="POST">
        <button>Generate New Schedule</button>
      </form>
    </div>

  </body>
</html>
