<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    {{> menu}}

    <h2>Input Scores</h2>

    <form action="/add-player" method="POST">
      <input type="text" name="playerName" placeholder="Enter Player Name" />
      <input type="text" name="score" placeholder="Enter Score" />
      <button type="submit">Save</button>
    </form>

    {{message}}

  </body>
</html>
