<!DOCTYPE html>
{{>meta}}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
     <link rel="stylesheet" href="/styles/scoresin.css">
    <title></title>
  </head>
  <body>

    {{> menu}}
    {{#thisTeam}}
    {{#date}}
    <div class="heads" > 
    <h2>Input Scores</h2>
    <h3>Team Number {{teamNumber}}</h3>
    
    <h3>DateOf Game {{date}}</h3>
    
    </div>



    <form action="/input-score" method="POST">
        <input type="hidden" name="origAPlayer" value="{{APlayer}}" />
        <input type="hidden" name="origBPlayer" value="{{BPlayer}}" />
 
      <div class="input-box">
          <input type="text" name="playerName1" placeholder="Enter Player Name" value="{{APlayer}}" />
          No show? <input type="checkbox" name="onePlayed" value="false"/>
          <input type="text" name="score1" placeholder="Enter Score" />
          <input type="hidden" name="aPlayerQuota" value="{{APlayerQuota}}" />
      </div>
      <div class="input-box">

      <input type="text" name="playerName2" placeholder="Enter Player Name" value="{{BPlayer}}" />
          No show? <input type="checkbox" name="twoPlayed" value="false"/>
          <input type="text" name="score2" placeholder="Enter Score" />
          <input type="hidden" name="bPlayerQuota" value="{{BPlayerQuota}}" />
      </div>

      <div class="input-box">
          <input type="text" name="opposition" placeholder="Enter Opposing Team #"/>
          <input type="hidden" name= "teamNumber" value="{{teamNumber}}"/>
          <input type="hidden" name="date" value="{{date}}"/>
          <button type="submit">submit</button>
      </div>
      </form>
      {{/date}}
    {{/thisTeam}}

    {{#dateredo}}
    <div class="heads" > 
    <h2>Input Scores</h2>
    <h3>Team Number {{teamNumber}}</h3>
    
    <h3>DateOf Game {{date}}</h3>
    <h2>{{message}}</h2>
    </div>



    <form action="/input-score" method="POST">
        <input type="hidden" name="origAPlayer" value="{{t1APlayer.name}}"" />
        <input type="hidden" name="origBPlayer" value="{{t1BPlayer.name}}" />
 
      <div class="input-box">
          <input type="text" name="playerName1" placeholder="Enter Player Name" value="{{t1APlayer.name}}" />
          No show? <input type="checkbox" name="onePlayed" value="false"/>
          <input type="text" name="score1" placeholder="Enter Score" value ="{{t1APlayer.score}}"/>
          <input type="hidden" name="aPlayerQuota" value="{{t1APlayer.quota}}" />
      </div>
      <div class="input-box">

      <input type="text" name="playerName2" placeholder="Enter Player Name" value="{{t1BPlayer.name}}" />
          No show? <input type="checkbox" name="twoPlayed" value="false"/>
          <input type="text" name="score2" placeholder="Enter Score" value="{{t1BPlayer.score}}"/>
          <input type="hidden" name="bPlayerQuota" value="{{t1BPlayer.quota}}" />
      </div>

      <div class="input-box">
          <input type="text" name="opposition" placeholder="Enter Opposing Team #"/>
          <input type="hidden" name= "teamNumber" value="{{t1APlayer.teamNumber}}"/>
          <input type="hidden" name="date" value="{{date}}"/>
          <button type="submit">submit</button>
      </div>
      </form>
      {{/dateredo}}






    <h2>{{message}}</h2>

    {{> script}}

  </body>
</html>
