<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    {{> menu}}
    {{#otherTeam}}
    <h2>Input Scores</h2>
    <h3>Team Number {{teamNumber}}</h3>
    {{#date}}
    <h3>DateOf Game {{date}}
   

    <form action="/input-second" method="POST">
      <input type="text" name="playerName1" placeholder="Enter Player Name" value="{{APlayer}}" />
      <input type="text" name="score1" placeholder="Enter Score" />
      <input type="text" name="playerName2" placeholder="Enter Player Name" value="{{BPlayer}}" />
      <input type="text" name="score2" placeholder="Enter Score" />
      <input type="hidden" name= "teamNumber" value="{{teamNumber}}" />
      <input type="hidden" name="date" value="{{date}}"/>
      <button type="submit">submit</button>
      </form>
       {{/date}}
    {{/otherTeam}}
   

