<html>
<head>
  <!-- Required meta tags -->
  {{> meta}}
  <link rel="stylesheet" href="/styles/manage-teams.css">
  <title>Manage Teams</title>
</head>
  <body>
    <!-- navbar partial -->
    {{> menu}}

    <div class="manCard">
      <div id="cardSize" class="card text-center">
        <div class="card-body">
          <h2 class="card-title">Manage Existing Teams</h2>
          <div><hr>
          <div class="card-text">
            <ul>
              {{#teams}}
              <li>
                <h3>Team {{team}}</h3>
                <p>Player One: {{player_one}}</p>
                <p>Player Two: {{player_two}}</p>
                <form class="delTeam" action="/delete-team" method="POST">
                  <input type="hidden" name="deleteTeam" value="{{id}}" />
                  <button id="button" type="submit" class="btn btn-link">Delete &raquo;</button>
                </form>
              </li><br>
              {{/teams}}
            </ul>
            {{^teams}}
              <h4>No existing teams found!</h4>
            {{/teams}}
          </div>
          </div>
        </div>
      </div>
    </div>
    {{> script}}
  </body>
</html>



      <!-- <div>
        <h2>Manage Existing Teams</h2>
        <ul>
          {{#teams}}
          <li>
            <h3>Team {{team}}</h3>
            <p>Player One: {{player_one}}</p>
            <p>Player Two: {{player_two}}</p>
            <form action="/delete-team" method="POST">
              <input type="hidden" name="deleteTeam" value="{{id}}" />
              <button type="submit">Delete</button>
            </form>
          </li>
          {{/teams}}
        </ul>
        {{^teams}}
          <h3>No existing teams found!</h3>
        {{/teams}}
      </div>
    </div>
  </body>
</html> -->
