<html>
<head></head>

<body>

  <form action='/addpost' method="POST">
    <input type="text" name="title" placeholder="title" />
    <textarea name="body"></textarea>
    <button type="submit">Save</button>
  </form>

<ul>
Test of quota recovery
{{#quotas}}


<li>
  <div>
  {{golfer}}
  </div>
  <p>
  {{q1}}
  {{q2}}
  {{q3}}
  {{q4}}
  {{q5}}
  {{q6}}
  {{q7}}
  {{q8}}
  {{q9}}
  {{q10}}
  {{q11}}
  
  
  
</li>

{{/quotas}}
{{#thisweek}}
{{name}}
{{quota}}
{{/thisweek}}



</ul>


</body>

</html>
