<!DOCTYPE html>
{{>meta}}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
     <link rel="stylesheet" href="/styles/scoresin.css">
    <title>Team Login</title>
  </head>
  <body>
    <div>
      {{> menu}}
      <div>
        
        <form action="/team-sign-in" method="POST">
          <div>
          <input type ="text" name= "week" placeholder="Enter Week #" />
          <input type="text" name="teamNumber" placeholder="Enter Team #" /> 
          <input type="password" name="password" placeholder="Enter Team Login Password" />
          </div>
          <button type="submit">Submit</button>
        </form>

        <h2>{{message}}</h2>
     

      </div>
    </div>
  </body>
  {{> script}}
</html>
