<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
      {{> menu}}
      <div>
        <h2>Team Sign In</h2>
        <form action="/steve" method="POST">
          <div>
          <input type ="text" name= "num" placeholder="number" value="{{number}}"/>
          
          </div>
          <button type="submit">Submit</button>
        </form>

        {{message}}
     

      </div>
    </div>
  </body>
</html>
