body {
  margin: 3rem;
  background-image: url("/images/diamond.jpg");
}

.loginCard {
  align-items: center;
  display: flex;
  justify-content: center;
}

.card-title {
  color: #00240a;
}

.login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
