body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 3rem;
  background-image: url("/images/diamond.jpg");
}

.menu {
  margin-bottom: 1.5rem;
}

.dashCard {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card-title {
  color: #00240a;
}
