body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 3rem;
    background-image: url("/images/diamond.jpg");
  }

.menu {
  margin-bottom: 1.5rem;
}

#leaderboardBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  color: #00240a;
}

caption {
  caption-side: top;
  background: #fdfdfe;
  text-align: center;
}

.numberColumn {
  padding-right: 2rem;
}
.pointsColumn {
  padding-right: 1rem;
}
.playerColumn {

}

.number {
  padding-left: 1rem;
  padding-right: 8rem;
}

.points {
  padding-right: 5rem;
  text-align: right;
}

.playerOne {
  padding-right: 1rem;
}

.playerTwo {

}
.team {
  /* display: flex; */

}
